<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Sobre TikaPaw</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-marca">
      <a href="/" style="text-decoration: none; color: inherit; display: flex; align-items: center; gap: 10px;">
        <img src="/img/Cats Grooming.png" alt="Logo">
        TikaPaw
      </a>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/refugios">Refugios</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  <div class="iconos">
    <a href="/usuarios/login" title="Iniciar sesión">
      <i class="fa-regular fa-user"></i>
    </a>


    <div style="position: relative; display: inline-block;">
      <a href="#" id="toggle" title="Opciones" style="font-size: 20px; color: black; cursor: pointer;">
        <i class="fa-solid fa-file-arrow-down"></i>
      </a>

      <div id="menu" style="display: none; position: absolute; background: white; border: 1px solid black; z-index: 10; right: 0; top: 30px;">
       <div>
        <a href="/rdf?view=html">Ver RDF</a> |
        <a href="/rdf?view=graph">Descargar RDF</a>
      </div>
      <a href="/grafos.html" style="display: block; padding: 8px 12px; color: black; text-decoration: none;">Ver Grafo</a>
      </div>
    </div>
  </div>
  </header>
  <section class="about-hero">
    <h2 class="titulo-refugio">🐾 Conoce TikaPaw 🐾</h2>
    <div class="texto-heroico">
        Cada huellita cuenta. Nuestra historia es la de miles de mascotas buscando amor.
    </div>
  </section>
  <section class="about-content">
    <div class="bloque">
      <h2>💖 Nuestra Misión</h2>
      <p>
        En TikaPaw, conectamos refugios con corazones dispuestos a adoptar. Queremos facilitar el proceso de adopción,
        visibilizar a los animales que más lo necesitan y fomentar hogares responsables.
      </p>
    </div>
    <div class="bloque">
      <h2>🐾 ¿Qué hacemos?</h2>
      <ul>
        <li>📍 Reunimos los mejores refugios y albergues del país.</li>
        <li>🐾 Mostramos perfiles de mascotas con su historia y carácter.</li>
        <li>💌 Facilitamos la conexión entre humanos y animales.</li>
      </ul>
    </div>
    <div class="bloque">
      <h2>🌸 ¿Por qué "TikaPaw"?</h2>
      <p>
        "Tika" significa flor en quechua. Representa vida, esperanza y renacimiento.
        “Paw” es esa pequeña huella que deja una mascota al entrar en tu vida. TikaPaw es la unión de ambos: un nuevo comienzo para ellos y para ti.
      </p>
    </div>
  </section>
  <footer>
    © 2025 TikaPaw - Todos los derechos reservados
  </footer>
</body>
</html>

<script src="/js/BotonToggle.js"></script>